* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, hsl(100, 69%, 24%), hsl(100, 71%, 40%), hsl(100, 71%, 50%), hsl(100, 71%, 60%), hsl(100, 71%, 70%));
}

input {
    accent-color: hsl(145, 71%, 50%);
}

.titulo {
    text-align: center;
    color: white;
    margin: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1.25em;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    min-width: 400px;
    max-width: 800px;
    align-items: center;
}

#input-container{
    display: flex;
    flex-direction:column;
    gap: 5px;
    justify-content: center;
}

#peso,
#altura {
    width: 150px;
    border-radius: 1.25em;
    border: none;
    background-color: lightgray;
    padding: 5px;
}

#container-radio {
    margin: 10px 0px;
}

#botão {
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#botão:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
#botão:active {
	position:relative;
	top:1px;
}

#res {
    margin: 20px 0px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.5em;
}